<div class="alert alert-primary" role="alert" *ngIf="!isLoggedIn">
    <i class="fas fa-info-circle mr-2"></i> Please login to view available restaurants.
  </div>
  <div *ngIf="isLoggedIn">
      <br><h2>Add Menu Item</h2>
      <form (submit)="addMenuItem()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" [(ngModel)]="menuItem.name" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" [(ngModel)]="menuItem.price" class="form-control" name="price" required>
        </div>
        <div class="form-group">
          <label for="price">Restaurant Name:</label>
          <input type="text" id="restaurantName" [(ngModel)]="menuItem.restaurantName" class="form-control" name="restaurantName" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Menu Item</button>
      </form>
      </div>