/* Custom CSS Styles for Restaurant App Landing Page */

/* Hero Section */
.hero {

  padding: 100px 0;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.hero .btn-primary {
  font-size: 16px;
  padding: 12px 32px;
}

/* About Section */
.about {
  padding: 100px 0;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

/* Menu Section */
.menu {
  background-color: #f8f9fa;
  padding: 100px 0;
}

.menu h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.menu .card {
  margin-bottom: 30px;
}

/* Contact Section */
.contact {
  padding: 100px 0;
}

h1{
  align-content: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.contact form .form-control {
  margin-bottom: 20px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  font-size: 16px;
  padding: 12px 32px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  color: black;
  background-image: url("https://source.unsplash.com/random/1920x1080/?restaurants'");
  background-size: cover;
  background-position: center center;
}
 
